.lmj-plant-item-cover {
	height: 3em;
	width: 3em;
	border-radius: 20px;
	margin: 0.2em;
}

.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}